@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

:root {
  --verde: hsl(135, 50%, 35%);
  --azul-escuro: rgb(0, 12, 24);
  --azul: rgb(0, 24, 48);
  --ciano: rgb(0, 255, 255);
  --preto: rgb(0, 0, 8);
  --cinza: rgb(96, 112, 128);
  --branco: rgb(220, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  color: var(--branco);
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background: radial-gradient(circle at top, var(--azul), var(--preto));
}

h1 span {
  color: var(--ciano);
}

.header {
  width: 100%;
  padding: 30px;
  max-width: 1100px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 24px;
  backdrop-filter: blur(15px);
  backdrop-filter: blur(10px);
  border: 2px solid transparent;
  background:
    linear-gradient(135deg, var(--azul-escuro), var(--preto)) padding-box,
    linear-gradient(135deg, var(--azul), var(--ciano)) border-box;
}

.main {
  gap: 25px;
  width: 100%;
  display: grid;
  max-width: 1100px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  gap: 20px;
  display: flex;
  padding: 40px;
  border-radius: 30px;
  flex-direction: column;
  backdrop-filter: blur(15px);
  border: 2px solid transparent;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  background:
    linear-gradient(135deg, var(--azul-escuro), var(--preto)) padding-box,
    linear-gradient(135deg, var(--azul), var(--ciano)) border-box;
}

.campo_input {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--cinza);
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 12px;
  color: var(--branco);
  border-radius: 12px;
  background-color: var(--preto);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.textarea {
  resize: none;
  min-height: 80px;
  font-size: 0.85rem;
  word-break: break-all;
  font-family: monospace;
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: none;
  border-color: var(--ciano);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
}

.btn,
.btn2 {
  border: 0;
  color: #fff;
  padding: 14px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 12px;
  transition:
    transform 0.2s,
    filter 0.2s;
}

.btn {
  background: linear-gradient(135deg, var(--azul), var(--ciano));
  color: var(--preto);
}

.btn2 {
  background: linear-gradient(135deg, var(--verde), #0a2e12);
}

.btn:hover,
.btn2:hover {
  filter: brightness(1.2);
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
}

#status_box {
  display: none;
  padding: 10px;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 25px;
  }
}
